{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}

{% for userCollection in userCollections %}
<div class="collection-card">
    <div class="card-top">
        <div class="image-section"></div>
        <div class="content-section">
            <h6>{{userCollection.collection.collectionName}}</h6>
            <div class="available-quantity"><strong>Available Quantity</strong></br>{{ userCollection.quantity }}</div>
            <div class"price-per-unit"><strong>Price per unit</strong></br>{{ userCollection.initialPrice }}</div>
        </div>
    </div>
    <div class="card-bottom">
        <button type="button" class="btn btn-primary" onclick="openSellForm('{{userCollection.userCollectionId}}')">Sell</button>
        <button onclick="showDeleteModal('{{ userCollection.userCollectionId }}', '{{ userCollection.collection.collectionName }}')" class="btn btn-danger">Delete</button>
        <button onclick="openUpdateForm('{{ userCollection.userCollectionId }}')" class="btn btn-primary">Update</button>
    </div>

    <div class="modal-overlay">
        <form id="updateForm-{{userCollection.userCollectionId}}" 
            action="{% url 'user:updateCollection' userCollection.userCollectionId %}" 
            method="post"
            class="sell-form">
            <div class="form-header">
                <h2 class="form-title">Update Collection</h2>
                <button type="button" class="close-btn" onclick="closeUpdateForm('{{userCollection.userCollectionId}}')">&times;</button>
            </div>
            {% csrf_token %}
            <label for="update-collection">Collection Name</label>
            <select id="update-collection" name="collectionId">
                <option value="{{userCollection.collection.collectionId}}">Select a collection</option>
                {% for collection in collections %}
                <option value="{{collection.collectionId}}">{{ collection.collectionName }}</option>
                {% endfor %}
            </select>

            <label for="quantity">Available Quantity:</label>
            <input type="number" name="changedQuantity" id="quantity" min='1' value="{{userCollection.quantity}}">
    
            <label for="price">Cost Price:</label>
            <input id="price" type="number" name="changedPrice" min='1' value="{{userCollection.initialPrice}}">
    
            <div style="text-align: right; margin-top: 20px;">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>

    <div class="modal-overlay">
        <form id="sellForm-{{userCollection.userCollectionId}}" 
              action="{% url 'user:sellCollection' userCollection.userCollectionId %}" 
              method="post"
              class="sell-form">
            <div class="form-header">
                <h2 class="form-title">Sell Collection</h2>
                <button type="button" class="close-btn" onclick="closeSellForm('{{userCollection.userCollectionId}}')">&times;</button>
            </div>
            {% csrf_token %}
            <label for="quantity">Quantity:</label>
            <input type="number" name="soldQuantity" min="1" id="quantity" required>
    
            <label for="price">Price:</label>
            <input id="price" type="number" name="soldPrice" min="1" required>
    
            <label for="soldTo">Sold To (optional):</label>
            <input id="soldTo" type="text" name="soldTo">
    
            <div style="text-align: right; margin-top: 20px;">
                <button type="submit">Confirm Sell</button>
            </div>
        </form>
        {% if check %}
            <script>
                openSellForm('{{userCollection.userCollectionId}}');
            </script>
        {% endif %}
    </div>

    <div class="delete-form">
        <div class="modal-overlay" id="deleteModal-{{ userCollection.userCollectionId }}">
            <div class="form-container">
                <div class="warning-icon">⚠️</div>
                <h2>Delete Collection</h2>
                <p class="confirm-text">Are you sure you want to delete "<span id="collectionNameSpan"></span>"?</p>
                <form method="GET" action="{% url 'user:deleteCollection' userCollection.userCollectionId %}">
                    <div class="button-group">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn cancel" onclick="closeDeleteModal({{userCollection.userCollectionId}})">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div id="popupForm" class="form-popup" style="display: none;">
    <form class="form-container" method="POST" action="{% url 'user:collection' %}">
        {% csrf_token %}
        <h2>Add to Collection</h2>
        <label for="collection"><b>Collection Name</b></label>
        <select id="collection" name="collectionId" required>
            <option value="">Select a collection</option>
            {% for collection in collections %}
            <option value="{{collection.collectionId}}">{{ collection.collectionName }}</option>
            {% endfor %}
        </select>

        <label for="quantity"><b>Quantity</b></label>
        <input type="number" id="quantity" name="quantity" placeholder="Enter quantity" required>

        <label for="price"><b>Cost Price</b></label>
        <input type="number" id="price" name="initialPrice" placeholder="Enter price" required>

        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="toggleForm()">Close</button>
    </form>
</div>

<button class="add-button button" onclick="toggleForm()">ADD</button>

{% if form %}
    <div class="notification-container" id="notificationContainer"></div>
    <script>
        {% for field, errors in form.items %}
            {% for error in errors %}
                showNotification("{{ error }}", "error", 5000);
            {% endfor %}
        {% endfor %}
    </script>
{% endif %}

{% if greaterSellingQuantityError %}
    <div class="notification-container" id="notificationContainer"></div>
    <script>
        showNotification("{{ greaterSellingQuantityError }}", "error", 5000);
    </script>
{% endif %}

{% if success %}
    <div class="notification-container" id="notificationContainer"></div>
    <script>
        showNotification("{{ success }}", "success", 5000);
    </script>
{% endif %}


{% endblock content %}


